<mat-toolbar color="secondary">
  @if (!!userName) {
    Edit user with userName: {{ userName }}
  } @else {
    Create new user
  }
</mat-toolbar>

<form
  #userForm="ngForm"
  (ngSubmit)="onSubmit()"
  class="app-content app-content__form"
>
  <!-- User Name -->
  <mat-form-field>
    <mat-label>User Name</mat-label>
    <input
      matInput
      placeholder="User Name"
      name="userName"
      [(ngModel)]="user.userName"
      required
      [disabled]="!!userName"
    />
    <mat-error *ngIf="userForm.submitted && !user.userName"
    >User Name is required
    </mat-error
    >
  </mat-form-field>

  <!-- Display Name -->
  <mat-form-field>
    <mat-label>Display Name</mat-label>
    <input
      matInput
      placeholder="Display Name"
      name="displayName"
      [(ngModel)]="user.displayName"
      required
    />
    <mat-error *ngIf="userForm.submitted && !user.displayName"
    >Display Name is required
    </mat-error
    >
  </mat-form-field>

  <!-- Email -->
  <mat-form-field>
    <mat-label>E-Mail</mat-label>
    <input
      matInput
      type="email"
      placeholder="Email"
      name="email"
      [(ngModel)]="user.email"
      required
    />
    <mat-error *ngIf="userForm.submitted && !user.email"
    >Email is required
    </mat-error
    >
    <mat-error
      *ngIf="userForm.submitted && user.email && !isValidEmail(user.email)"
    >Invalid email format
    </mat-error
    >
  </mat-form-field>
  @if (userName) {
    <!-- Elo -->
    <mat-form-field>
      <mat-label>Elo</mat-label>
      <input
        matInput
        type="elo"
        placeholder="Elo"
        name="elo"
        [(ngModel)]="elo"
        disabled
      />
    </mat-form-field>
  }
</form>

<app-footer [isEditForm]="!!userName" [saveDisabled]="userForm.invalid!"></app-footer>
