<mat-toolbar color="secondary">
  @if (isEditForm()) {
    Edit player with username: {{ username }}
  } @else {
    Create new player
  }
</mat-toolbar>

<form [formGroup]="playerForm" (ngSubmit)="submit()" class="app-content app-content__form">
  <!-- Username -->
  <mat-form-field>
    <mat-label>Username</mat-label>
    <input
      matInput
      formControlName="username"
    />
    <mat-error>
      @if (playerForm.get('username')?.errors?.['required']) { Username is required }
    </mat-error>
  </mat-form-field>

  <!-- Display Name -->
  <mat-form-field>
    <mat-label>Display Name</mat-label>
    <input
      matInput
      formControlName="displayName"
    />
    <mat-error>
      @if (playerForm.get('displayName')?.errors?.['required']) { Display Name is required }
    </mat-error>
  </mat-form-field>

  <!-- Email -->
  <mat-form-field>
    <mat-label>E-Mail</mat-label>
    <input
      matInput
      formControlName="email"
      required
    />
    <mat-error>
      @if (playerForm.get('email')?.errors?.['required']) { Email is required }
      @else if (playerForm.get('email')?.errors?.['invalidEmail']) { Invalid email format }
    </mat-error>
  </mat-form-field>
  @if (isEditForm()) {
    <!-- Elo -->
    <mat-form-field>
      <mat-label>Elo</mat-label>
      <input
        matInput
        type="number"
        formControlName="elo"
      />
    </mat-form-field>
  }
</form>

<app-footer
  [saveDisabled]="playerForm.invalid!"
  [save]="submit"
></app-footer>
