<mat-toolbar color="secondary">
  @if (isEditForm()) {
    Edit player with username: {{ username }}
  } @else {
    Create new player
  }
</mat-toolbar>

<form
  #playerForm="ngForm"
  class="app-content app-content__form"
>
  <!-- Username -->
  <mat-form-field>
    <mat-label>Username</mat-label>
    <input
      matInput
      placeholder="Username"
      name="username"
      #usernameInput="ngModel"
      [(ngModel)]="player.username"
      required
      [disabled]="isEditForm()"
    />
    <mat-error>
      @if (usernameInput.errors && usernameInput.errors['required']) { Username is required }
    </mat-error>
  </mat-form-field>

  <!-- Display Name -->
  <mat-form-field>
    <mat-label>Display Name</mat-label>
    <input
      matInput
      placeholder="Display Name"
      name="displayName"
      #displayNameInput="ngModel"
      [(ngModel)]="player.displayName"
      required
    />
    <mat-error>
      @if (displayNameInput.errors && !displayNameInput.errors['required']) { Display Name is required }
    </mat-error>
  </mat-form-field>

  <!-- Email -->
  <mat-form-field>
    <mat-label>E-Mail</mat-label>
    <input
      matInput
      type="email"
      placeholder="Email"
      name="email"
      #emailInput="ngModel"
      [(ngModel)]="player.email"
      required
    />
    <mat-error>
      @if (emailInput.errors && !emailInput.errors['required']) { Email is required }
      @else if (emailInput.dirty && player.email && !isValidEmail(player.email)) { Invalid email format }
    </mat-error>
  </mat-form-field>
  @if (isEditForm()) {
    <!-- Elo -->
    <mat-form-field>
      <mat-label>Elo</mat-label>
      <input
        matInput
        type="elo"
        placeholder="Elo"
        name="elo"
        [(ngModel)]="elo"
        disabled
      />
    </mat-form-field>
  }
</form>

<app-footer
  [saveDisabled]="playerForm.invalid!"
  [save]="submit()"
></app-footer>
