<mat-card class="user-details-card">
  <mat-card-header>
    <mat-card-title>User Details</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div class="user-details-item">
      <span class="label">User Name:</span>
      <span class="value">{{ user.userName }}</span>
    </div>

    <div class="user-details-item">
      <span class="label">Display Name:</span>
      <span class="value">{{ user.displayName }}</span>
    </div>

    <div class="user-details-item">
      <span class="label">Email:</span>
      <span class="value">{{ user.email }}</span>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" routerLink="../overview">Back to Users</button>
    <button mat-raised-button color="primary" routerLink="edit">Edit User</button>
  </mat-card-actions>
</mat-card>
