<mat-toolbar class="mat-toolbar-header" color="secondary">
  Create new match
</mat-toolbar>

<form #matchForm="ngForm" (ngSubmit)="onSubmit()" class="app-content app-content__form">
  <!-- Player 1 -->
  <mat-form-field>
    <mat-label>Player 1</mat-label>
    <mat-select required [(ngModel)]="match.player1" name="player1">
      <mat-option *ngFor="let player of players" [value]="player">{{
        player
      }}</mat-option>
    </mat-select>
    <mat-error *ngIf="matchForm.submitted && !match.player1"
      >Player 1 is required</mat-error
    >
  </mat-form-field>

  <!-- Player 2 -->
  <mat-form-field>
    <mat-label>Player 2</mat-label>
    <mat-select required [(ngModel)]="match.player2" name="player2">
      <mat-option *ngFor="let player of players" [value]="player">{{
        player
      }}</mat-option>
    </mat-select>
    <mat-error *ngIf="matchForm.submitted && !match.player2"
      >Player 2 is required</mat-error
    >
  </mat-form-field>

  <!-- Outcome -->
  <mat-form-field>
    <mat-label>Outcome</mat-label>
    <mat-select required [(ngModel)]="match.outcome" name="outcome">
      <mat-option *ngFor="let outcome of outcomes" [value]="outcome">{{
        outcome
      }}</mat-option>
    </mat-select>
    <mat-error *ngIf="matchForm.submitted && !match.outcome"
      >Outcome is required</mat-error
    >
  </mat-form-field>

  <!-- Date -->
  <mat-form-field>
    <mat-label>Date</mat-label>
    <input
      matInput
      [matDatepicker]="picker"
      placeholder="Choose a date"
      required
      [(ngModel)]="match.date"
      name="date"
    />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error *ngIf="matchForm.submitted && !match.date"
      >Date is required</mat-error
    >
  </mat-form-field>
</form>

<app-footer [isEditForm]="false" [saveDisabled]="matchForm.invalid!"></app-footer>
